:root {
  --primary-color: #2596be;
  --secondary-color: #04a4c2;
  --background-color: #e3f6f9;
  --dark-color: #04518e;
  --darker-color: #085681;
  --accent-color: #5aa0c2;
  --light-accent-color: #6fc5e0;
  --muted-color: #2d81a7;
  --faded-color: #86acc5;
  --highlight-color: #0790cc;
  --wasabi: #638428;
  --sprout: #cfddb5;
  --rangitoto: #2b3423;
  --cerulean: #0f9eed;
  --gulf-stream: #81abb5;
  --morning-glory: #97d8dc;
  --bismark: #4d767f;
  --shakespeare: #50a0d1;
  --azure: #3362ae;
  --piper: #c16527;
}

body {
  font-family: 'Courier New', Courier, monospace !important;
  background-color: #1e1e1e;
  color: #c5c5c5;
  text-align: center;
  padding: 20px;
}

body.light-mode {
  background-color: #f0f0f0;
}

.MainContainer {
  display: flex;
  height: 100vh;
}

.Content {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.ContentSection {
  padding: 16px;
  background-color: var(--secondary-color);
  color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.background_countdown {
  min-width: 500px;
  min-height: 400px;
  padding: 16px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.background_countdown::before {
  content: '';
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  background: linear-gradient(to bottom, var(--cerulean), var(--wasabi));
  z-index: 0;
  border-radius: 12px;
}

.background_countdown::after {
  content: '';
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background-image: url("../img/background_countdown.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  opacity: 0.6;
  z-index: 1;
  border-radius: 8px;
}

.countdown-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}

.countdown-item {
  text-align: center;
  position: relative;
  flex: 1;
  padding: 0 10px;
}

.countdown-item.days {
  margin-right: -50px;
}

.countdown-item p {
  font-size: 9em;
  font-weight: 900;
  color: white;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  margin: 0;
  position: relative;
}

.countdown-item h3 {
  font-size: 2.5em;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  z-index: 3;
}






.HeaderContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2b2b2b;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.HeaderContent {
  display: flex;
  align-items: center;
}

.HeaderText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 20px;
}

.NavBar {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

.NavBar a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.NavBar a:hover {
  background-color: var(--secondary-color);
}

.LightModeButton {
  font-family: 'Courier New', Courier, monospace !important;
  background-color: var(--primary-color);
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 20px;
  transition: background-color 0.3s ease;
}

.LightModeButton:hover {
  background-color: var(--highlight-color);
}

.GameTime {
  margin-left: 20px;
  padding: 10px;
  color: white;
  background-color: var(--secondary-color);
  border-radius: 8px;
}

.Palia-icon {
  height: 100px;
  width: auto;
  margin-right: 10px;
}

.App-header h1 {
  font-family: 'Courier New', Courier, monospace !important;
  font-weight: normal;
  color: #ffffff;
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
}

.print {
  color: #c97de0;
}

.parentheses {
  color: #adb4c1;
}

.string {
  color: #9dc77e;
}

.ContentSections {
  flex: 1;
}

.Sidebar,
.RightSidebar {
  width: 350px;
  background-color: var(--se);
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  height: calc(100vh - 60px);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.Sidebar .ContentSection,
.RightSidebar .ContentSection {
  margin-bottom: 20px;
}

.Sidebar iframe,
.RightSidebar iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 20px;
}

.widget-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 300px;
}

.widget-container iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .HeaderContainer {
    flex-direction: column;
    align-items: center;
  }

  .NavBar {
    justify-content: center;
    padding: 10px;
  }
}

.comm-party-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comm-party-list li {
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  padding: 5px 10px;
  margin: 5px 0;
  border-radius: 5px;
  width: 200px;
  justify-content: center;
}

.emoji-container {
  margin-right: 10px;
}

.emoji {
  width: 30px;
  height: auto;
}

.Party {
  padding: 16px;
  background-color: var(--secondary-color);
  color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}